# Ignore OS-specific files
.DS_Store
Thumbs.db

# Node.js
node_modules/

# Python
*.pyc
*.pyo
__pycache__/

# Environment variables
*.env
*/env
# Docker
*.log
docker-compose.override.yml

# NixOS build files
result/
*.drv
*.swp

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs and temporary files
*.log
*.tmp

# Nix Shell specific
.nix-shell

# Ignore compiled binaries and distribution files
dist/
build/
*.egg-info/

